In [1]:
import pandas as pd

In [4]:
data=[1,2,3,4]
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
data=[1,2,3,4]
index=['a','b','c','d']
series=pd.Series(data,index=index)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["aa","bb","cc"])
print(df)

   aa  bb  cc
0   1   2   3
1   4   5   6
2   7   8   9

In [9]:
obesity_prediction=pd.read_csv(r"C:\Users\anush\Downloads\obesity_prediction.csv")

In [10]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [11]:
obesity_prediction.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [12]:
obesity_prediction.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [13]:
obesity_prediction.tail(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [14]:
obesity_prediction.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
468,Female,20.0,1.62,45.0,no,yes,3.0,3.0,Frequently,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Insufficient_Weight

In [15]:
obesity_prediction.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
338,Female,17.0,1.6,65.0,no,yes,3.0,1.0,Sometimes,no,2.0,yes,1.0,2.0,Sometimes,Public_Transportation,Overweight_Level_I

In [16]:
obesity_prediction.sample(10,random_state=20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1662,Male,23.083621,1.848553,121.421121,yes,yes,3.000000,2.567567,Sometimes,no,2.011023,no,0.916478,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2034,Female,26.000000,1.641849,111.682693,yes,yes,3.000000,3.000000,Sometimes,no,2.632253,no,0.000000,0.244205,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
1791,Male,24.001889,1.614075,100.245302,yes,yes,2.880483,1.703299,Sometimes,no,1.006378,no,1.076729,1.058007,no,Public_Transportation,Obesity_Type_II
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
964,Female,17.099015,1.600000,65.000000,yes,yes,3.000000,2.401341,Sometimes,no,2.000000,yes,0.663896,1.753745,Sometimes,Public_Transportation,Overweight_Level_I
1692,Male,30.916426,1.781139,120.794535,yes,yes,2.111887,3.000000,Sometimes,no,2.357373,no,0.425621,1.416353,Sometimes,Automobile,Obesity_Type_II
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
524,Female,20.225396,1.550648,44.641796,no,yes,3.000000,2.857787,Frequently,no,1.000000,no,0.754646,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [17]:
obesity_prediction.sample(10,random_state=53)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
965,Female,17.258130,1.600184,65.000000,yes,yes,2.749629,2.298612,Sometimes,no,2.000000,yes,0.547515,1.619473,Sometimes,Public_Transportation,Overweight_Level_I
766,Male,21.017383,1.752391,79.109637,yes,yes,3.000000,1.000000,Sometimes,no,2.000000,no,2.572230,0.000000,Sometimes,Automobile,Overweight_Level_I
1874,Female,24.449655,1.635062,113.277388,yes,yes,3.000000,3.000000,Sometimes,no,2.578038,no,0.165422,0.463196,Sometimes,Public_Transportation,Obesity_Type_III
2001,Female,20.924956,1.752531,133.618706,yes,yes,3.000000,3.000000,Sometimes,no,2.887659,no,1.480919,0.779641,Sometimes,Public_Transportation,Obesity_Type_III
1526,Male,31.457413,1.874070,128.867444,yes,yes,2.956297,3.000000,Sometimes,yes,1.275100,no,0.901924,1.875023,Sometimes,Automobile,Obesity_Type_II
1364,Male,29.000000,1.666710,89.048151,yes,yes,1.897796,3.000000,Sometimes,no,1.193039,no,0.011519,0.000000,Sometimes,Automobile,Obesity_Type_I
1385,Female,42.586285,1.571417,81.918809,yes,yes,2.522183,1.326982,Sometimes,no,1.872673,no,1.048507,0.000000,no,Automobile,Obesity_Type_I
945,Male,23.455324,1.702516,75.000000,yes,yes,2.162519,3.000000,Sometimes,no,2.152666,no,1.078074,1.502839,Sometimes,Public_Transportation,Overweight_Level_I
123,Male,24.000000,1.660000,67.000000,yes,yes,3.000000,1.000000,Sometimes,no,2.000000,no,1.000000,0.000000,no,Public_Transportation,Normal_Weight
977,Male,21.180346,1.773766,89.282820,yes,yes,2.010684,1.322087,Sometimes,no,2.000000,no,0.540397,0.973834,Sometimes,Public_Transportation,Overweight_Level_II

In [18]:
obesity_prediction.sample(10,random_state=20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1662,Male,23.083621,1.848553,121.421121,yes,yes,3.000000,2.567567,Sometimes,no,2.011023,no,0.916478,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2034,Female,26.000000,1.641849,111.682693,yes,yes,3.000000,3.000000,Sometimes,no,2.632253,no,0.000000,0.244205,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
1791,Male,24.001889,1.614075,100.245302,yes,yes,2.880483,1.703299,Sometimes,no,1.006378,no,1.076729,1.058007,no,Public_Transportation,Obesity_Type_II
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
964,Female,17.099015,1.600000,65.000000,yes,yes,3.000000,2.401341,Sometimes,no,2.000000,yes,0.663896,1.753745,Sometimes,Public_Transportation,Overweight_Level_I
1692,Male,30.916426,1.781139,120.794535,yes,yes,2.111887,3.000000,Sometimes,no,2.357373,no,0.425621,1.416353,Sometimes,Automobile,Obesity_Type_II
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
524,Female,20.225396,1.550648,44.641796,no,yes,3.000000,2.857787,Frequently,no,1.000000,no,0.754646,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [19]:
obesity_prediction.sample(10,random_state=20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1662,Male,23.083621,1.848553,121.421121,yes,yes,3.000000,2.567567,Sometimes,no,2.011023,no,0.916478,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2034,Female,26.000000,1.641849,111.682693,yes,yes,3.000000,3.000000,Sometimes,no,2.632253,no,0.000000,0.244205,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
1791,Male,24.001889,1.614075,100.245302,yes,yes,2.880483,1.703299,Sometimes,no,1.006378,no,1.076729,1.058007,no,Public_Transportation,Obesity_Type_II
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
964,Female,17.099015,1.600000,65.000000,yes,yes,3.000000,2.401341,Sometimes,no,2.000000,yes,0.663896,1.753745,Sometimes,Public_Transportation,Overweight_Level_I
1692,Male,30.916426,1.781139,120.794535,yes,yes,2.111887,3.000000,Sometimes,no,2.357373,no,0.425621,1.416353,Sometimes,Automobile,Obesity_Type_II
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
524,Female,20.225396,1.550648,44.641796,no,yes,3.000000,2.857787,Frequently,no,1.000000,no,0.754646,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [20]:
obesity_prediction.columns.tolist()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [21]:
obesity_prediction.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [23]:
list(obesity_prediction.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [24]:
obesity_prediction.index

RangeIndex(start=0, stop=2111, step=1)

In [25]:
list(obesity_prediction.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [26]:
obesity_prediction.shape

(2111, 17)

In [27]:
obesity_prediction.size

35887

In [29]:
obesity_prediction.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [30]:
obesity_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [31]:
df.shape

(3, 3)

In [32]:
df.size

9

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   aa      3 non-null      int64
 1   bb      3 non-null      int64
 2   cc      3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [35]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [38]:
obesity_prediction.loc

In [40]:
obesity_prediction.loc[0,'Age']

21.0

In [41]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [42]:
obesity_prediction.loc[0:10,'Age']

0     21.0
1     21.0
2     23.0
3     27.0
4     22.0
5     29.0
6     23.0
7     22.0
8     24.0
9     22.0
10    26.0
Name: Age, dtype: float64

In [43]:
obesity_prediction.loc[0:10,['Age','Height','Weight']]

     Age  Height  Weight
0   21.0    1.62    64.0
1   21.0    1.52    56.0
2   23.0    1.80    77.0
3   27.0    1.80    87.0
4   22.0    1.78    89.8
5   29.0    1.62    53.0
6   23.0    1.50    55.0
7   22.0    1.64    53.0
8   24.0    1.78    64.0
9   22.0    1.72    68.0
10  26.0    1.85   105.0

In [45]:
obesity_prediction.loc[0:10,['Age','Height','Weight']]

     Age  Height  Weight
0   21.0    1.62    64.0
1   21.0    1.52    56.0
2   23.0    1.80    77.0
3   27.0    1.80    87.0
4   22.0    1.78    89.8
5   29.0    1.62    53.0
6   23.0    1.50    55.0
7   22.0    1.64    53.0
8   24.0    1.78    64.0
9   22.0    1.72    68.0
10  26.0    1.85   105.0

In [47]:
obesity_prediction.loc[[0,7,10],['Age','Height','Weight']]

     Age  Height  Weight
0   21.0    1.62    64.0
7   22.0    1.64    53.0
10  26.0    1.85   105.0

In [48]:
obesity_prediction.loc[0:10,['Age','Height','FAF']]

     Age  Height  FAF
0   21.0    1.62  0.0
1   21.0    1.52  3.0
2   23.0    1.80  2.0
3   27.0    1.80  2.0
4   22.0    1.78  0.0
5   29.0    1.62  0.0
6   23.0    1.50  1.0
7   22.0    1.64  3.0
8   24.0    1.78  1.0
9   22.0    1.72  1.0
10  26.0    1.85  2.0

In [49]:
obesity_prediction.loc[0:10]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I

In [51]:
obesity_prediction.loc[:,'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000
1,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000
2,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000
3,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000
4,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269
2107,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390
2108,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209
2109,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107
2110,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452

In [53]:
obesity_prediction.loc[:20,'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0
6,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
7,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0
14,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0
15,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0
16,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0
17,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0
18,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0
19,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0
20,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0

In [55]:
obesity_prediction.iloc[0:10,0:5]

   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
5    Male  29.0    1.62    53.0             no
6  Female  23.0    1.50    55.0            yes
7    Male  22.0    1.64    53.0             no
8    Male  24.0    1.78    64.0            yes
9    Male  22.0    1.72    68.0            yes

In [56]:
obesity_prediction.iloc[[10,20,30],[0,1,2]]

   Gender   Age  Height
10   Male  26.0    1.85
20   Male  22.0    1.65
30   Male  29.0    1.77

In [57]:
obesity_prediction.at[0,'Age']

21.0

In [59]:
obesity_prediction.at[0,'FAF']

0.0

In [61]:
obesity_prediction.iat[0,5]

'no'

In [62]:
obesity_prediction.iat[0,1]

21.0

In [64]:
obesity_prediction['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [65]:
obesity_prediction.Age

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [67]:
obesity_prediction[['Age','FAF']]

            Age       FAF
0     21.000000  0.000000
1     21.000000  3.000000
2     23.000000  2.000000
3     27.000000  2.000000
4     22.000000  0.000000
...         ...       ...
2106  20.976842  1.676269
2107  21.982942  1.341390
2108  22.524036  1.414209
2109  24.361936  1.139107
2110  23.664709  1.026452

[2111 rows x 2 columns]

In [68]:
obesity_prediction.head(30)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I
20,Male,22.0,1.65,80.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,3.0,2.0,no,Walking,Overweight_Level_II
21,Female,52.0,1.69,87.0,yes,yes,3.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
22,Female,22.0,1.65,60.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Automobile,Normal_Weight
23,Female,22.0,1.60,82.0,yes,yes,1.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
24,Male,21.0,1.85,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
25,Male,20.0,1.60,50.0,yes,no,2.0,4.0,Frequently,yes,2.0,no,3.0,2.0,no,Public_Transportation,Normal_Weight
26,Male,21.0,1.70,65.0,yes,yes,2.0,1.0,Frequently,no,2.0,no,1.0,2.0,Always,Walking,Normal_Weight
27,Female,23.0,1.60,52.0,no,yes,2.0,4.0,Frequently,no,2.0,no,2.0,1.0,Sometimes,Automobile,Normal_Weight
28,Male,19.0,1.75,76.0,yes,yes,3.0,3.0,Sometimes,no,2.0,yes,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
29,Male,23.0,1.68,70.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,2.0,Frequently,Walking,Normal_Weight

In [70]:
obesity_prediction.loc[obesity_prediction['Height']>1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [72]:
obesity_prediction.loc[obesity_prediction['Weight']>50]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [76]:
obesity_prediction.loc[(obesity_prediction['Weight']<50) & (obesity_prediction['Obesity']=="Normal_Weight")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [77]:
obesity_prediction.loc[(obesity_prediction['Weight']<50) | (obesity_prediction['Obesity']=="Normal_Weight")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.000000,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
5,Male,29.000000,1.620000,53.000000,no,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
6,Female,23.000000,1.500000,55.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [78]:
obesity_prediction[(obesity_prediction['Weight']<50) & (obesity_prediction['Obesity']=="Normal_Weight")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [80]:
obesity_prediction.loc[obesity_prediction['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [81]:
obesity_prediction.loc[obesity_prediction['Obesity'].str.startswith('weight')]

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

In [83]:
obesity_prediction[obesity_prediction['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [84]:
obesity_prediction.loc[0,'Age']=22

In [85]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [86]:
obesity_prediction.loc[:,'SMOKE']='yes'

In [87]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [88]:
obesity_prediction.loc[[2,3],'Height']=1.6

In [89]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [90]:
obesity_prediction.loc[:2,'SMOKE']='may be'

In [91]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [94]:
obesity_prediction.iloc[1,4]='no data'

In [95]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,may be,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,may be,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [96]:
obesity_prediction.iloc[:,9]="doesnt matter"

In [98]:
obesity_prediction.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,doesnt matter,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,doesnt matter,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,doesnt matter,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,doesnt matter,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,doesnt matter,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [99]:
obesity_prediction.at[2,'Obesity']="Overr"

In [100]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [101]:
obesity_prediction.iat[2,0]='Secret'

In [102]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,doesnt matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,doesnt matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [103]:
obesity_prediction["SMOKE"]='yes'

In [104]:
obesity_prediction.tail(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,yes,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,yes,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,yes,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,yes,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,yes,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [105]:
def increment_age_by_5(x):
    return x+5
obesity_prediction['Age'].apply(increment_age_by_5)
obesity_prediction['Age']

0       22.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [106]:
obesity_prediction['Age']=obesity_prediction['Age'].apply(lambda x:x-5)
obesity_prediction['Age']

0       17.000000
1       16.000000
2       18.000000
3       22.000000
4       17.000000
          ...
2106    15.976842
2107    16.982942
2108    17.524036
2109    19.361936
2110    18.664709
Name: Age, Length: 2111, dtype: float64

In [107]:
obesity_prediction['Age Category']=obesity_prediction['Age'].apply(lambda x:'very young'if x<25 else"not so young")

In [108]:
obesity_prediction.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young
10,Male,21.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,very young
11,Female,16.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,very young
12,Male,17.0,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
13,Male,36.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,not so young
14,Male,18.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young
15,Female,17.0,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young
16,Male,22.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young
17,Female,24.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,very young
18,Female,25.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,not so young
19,Female,18.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,very young

In [109]:
import numpy as np
obesity_prediction['New Age Category']=np.where(obesity_prediction['Age']<25,"very young","Not so young")

In [110]:
obesity_prediction.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
10,Male,21.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,very young,very young
11,Female,16.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
12,Male,17.0,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
13,Male,36.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,not so young,Not so young
14,Male,18.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
15,Female,17.0,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
16,Male,22.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
17,Female,24.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,very young,very young
18,Female,25.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,not so young,Not so young
19,Female,18.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,very young,very young

In [111]:
obesity_prediction.insert(2,'BMI',20)

In [112]:
obesity_prediction.head(10)

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,20,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,20,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,20,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,20,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,20,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,20,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young

In [113]:
obesity_prediction.drop(columns='BMI')

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,yes,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.000000,1.520000,56.000000,no data,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.000000,1.600000,77.000000,yes,no,2.0,3.0,Sometimes,yes,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.000000,1.600000,87.000000,no,no,3.0,3.0,Sometimes,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,15.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2107,Female,16.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2108,Female,17.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2109,Female,19.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2110,Female,18.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young

In [114]:
obesity_prediction.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,20,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young

In [115]:
obesity_prediction.drop(columns="BMI",inplace=True)

In [116]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young

In [117]:
obesity_prediction.insert(2,'BMI',obesity_prediction['Weight']/obesity_prediction['Height']**2)

In [118]:
obesity_prediction.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,24.386526,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,24.238227,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,30.078125,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,33.984375,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,28.342381,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young

In [119]:
obesity_prediction=obesity_prediction.drop(columns='BMI')

In [120]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young

In [121]:
obesity_prediction.insert(2,'BMI',obesity_prediction['Weight']/obesity_prediction['Height']**2)

In [122]:
obesity_prediction.insert(2,'BMI New',obesity_prediction['Weight']/obesity_prediction['Height']**2)

In [124]:
obesity_prediction.head()

,Gender,Age,BMI New,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,24.386526,24.386526,1.62,64.0,yes,no,2.0,3.0,...,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,24.238227,24.238227,1.52,56.0,no data,no,3.0,3.0,...,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,30.078125,30.078125,1.60,77.0,yes,no,2.0,3.0,...,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,33.984375,33.984375,1.60,87.0,no,no,3.0,3.0,...,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,28.342381,28.342381,1.78,89.8,no,no,2.0,1.0,...,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young

In [126]:
obesity_prediction.drop(columns=['BMI','BMI New'],inplace=True)

In [127]:
obesity_prediction.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,Sometimes,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
10,Male,21.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,yes,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,very young,very young
11,Female,16.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
12,Male,17.0,1.65,56.0,no,no,3.0,3.0,Sometimes,yes,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
13,Male,36.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,not so young,Not so young
14,Male,18.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
15,Female,17.0,1.70,66.0,yes,no,3.0,3.0,Always,yes,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
16,Male,22.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,yes,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
17,Female,24.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,very young,very young
18,Female,25.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,not so young,Not so young
19,Female,18.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,very young,very young

In [128]:
del obesity_prediction['CAEC']

In [129]:
obesity_prediction.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young

In [130]:
obesity_prediction.rename(columns={'Obesity':'Category'})

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category,New Age Category
0,Female,17.000000,1.620000,64.000000,yes,no,2.0,3.0,yes,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.000000,1.520000,56.000000,no data,no,3.0,3.0,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.000000,1.600000,77.000000,yes,no,2.0,3.0,yes,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.000000,1.600000,87.000000,no,no,3.0,3.0,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.000000,1.780000,89.800000,no,no,2.0,1.0,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,15.976842,1.710730,131.408528,yes,yes,3.0,3.0,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2107,Female,16.982942,1.748584,133.742943,yes,yes,3.0,3.0,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2108,Female,17.524036,1.752206,133.689352,yes,yes,3.0,3.0,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2109,Female,19.361936,1.739450,133.346641,yes,yes,3.0,3.0,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young
2110,Female,18.664709,1.738836,133.472641,yes,yes,3.0,3.0,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,very young,very young

In [131]:
obesity_prediction.rename(columns={'Obesity':'Category'},inplace=True)

In [132]:
obesity_prediction.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category,New Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young

In [134]:
obesity_prediction.rename(columns={'Obesity':'Category','New Age Category':'reductant info'},inplace=True)

In [135]:
obesity_prediction.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category,reductant info
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young,very young

In [136]:
del obesity_prediction['reductant info']

In [137]:
obesity_prediction.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young
6,Female,18.0,1.50,55.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,very young
7,Male,17.0,1.64,53.0,no,no,2.0,3.0,yes,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
8,Male,19.0,1.78,64.0,yes,yes,3.0,3.0,yes,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,very young
9,Male,17.0,1.72,68.0,yes,yes,2.0,3.0,yes,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,very young

In [140]:
df1=pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Keerti','Amit','Educosys','YouTube']
    
})

df2=pd.DataFrame({
    'id':[3,4,5,6],
    'course':['GenAI','CPP','HLD','LLD']
})
inner_result=pd.merge(df1,df2,how='inner',on='id')
inner_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP

In [141]:
outer_result=pd.merge(df1,df2,how='outer',on='id')
outer_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP
4   5       NaN    HLD
5   6       NaN    LLD

In [144]:
left_result=pd.merge(df1,df2,how='left',on='id')
left_result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys  GenAI
3   4   YouTube    CPP

In [145]:
right_result=pd.merge(df1,df2,how='right',on='id')
right_result

   id      name course
0   3  Educosys  GenAI
1   4   YouTube    CPP
2   5       NaN    HLD
3   6       NaN    LLD

In [146]:
df1=pd.DataFrame({
    'id1':[1,2,3,4],
    'name':['Keerti','Amit','Educosys','YouTube']
    
})

df2=pd.DataFrame({
    'id2':[3,4,5,6],
    'course':['GenAI','CPP','HLD','LLD']
})

inner_result=pd.merge(df1,df2,how='inner',left_on='id1',right_on='id2')
inner_result

   id1      name  id2 course
0    3  Educosys    3  GenAI
1    4   YouTube    4    CPP

In [150]:
df1=pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Keerti','Amit','Educosys','YouTube']
    
})

df2=pd.DataFrame({
    'id':[3,4,5,6],
    'course':['GenAI','CPP','HLD','LLD']
})
result=pd.concat([df1,df2],axis=0)
result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys    NaN
3   4   YouTube    NaN
0   3       NaN  GenAI
1   4       NaN    CPP
2   5       NaN    HLD
3   6       NaN    LLD

In [151]:
df1=pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Keerti','Amit','Educosys','YouTube']
    
})

df2=pd.DataFrame({
    'id':[3,4,5,6],
    'course':['GenAI','CPP','HLD','LLD']
})
result=pd.concat([df1,df2],axis=0,ignore_index=True)
result

   id      name course
0   1    Keerti    NaN
1   2      Amit    NaN
2   3  Educosys    NaN
3   4   YouTube    NaN
4   3       NaN  GenAI
5   4       NaN    CPP
6   5       NaN    HLD
7   6       NaN    LLD

In [153]:
result2=pd.concat([df1,df2],axis=1)
result2

   id      name  id course
0   1    Keerti   3  GenAI
1   2      Amit   4    CPP
2   3  Educosys   5    HLD
3   4   YouTube   6    LLD

In [155]:
result3=pd.concat([df1,df2],axis=0,keys=["df1","df2"])
result3

       id      name course
df1 0   1    Keerti    NaN
    1   2      Amit    NaN
    2   3  Educosys    NaN
    3   4   YouTube    NaN
df2 0   3       NaN  GenAI
    1   4       NaN    CPP
    2   5       NaN    HLD
    3   6       NaN    LLD

In [156]:
result3.isna()

          id   name  course
df1 0  False  False    True
    1  False  False    True
    2  False  False    True
    3  False  False    True
df2 0  False   True   False
    1  False   True   False
    2  False   True   False
    3  False   True   False

In [157]:
result3.notna()

         id   name  course
df1 0  True   True   False
    1  True   True   False
    2  True   True   False
    3  True   True   False
df2 0  True  False    True
    1  True  False    True
    2  True  False    True
    3  True  False    True

In [158]:
result3.isna().sum()

id        0
name      4
course    4
dtype: int64

In [159]:
obesity_prediction.isna().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Category          0
Age Category      0
dtype: int64

In [160]:
obesity_prediction.notna().sum()

Gender            2111
Age               2111
Height            2111
Weight            2111
family_history    2111
FAVC              2111
FCVC              2111
NCP               2111
SMOKE             2111
CH2O              2111
SCC               2111
FAF               2111
TUE               2111
CALC              2111
MTRANS            2111
Category          2111
Age Category      2111
dtype: int64

In [161]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,17.0,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [163]:
obesity_prediction.loc[0,'Age']=np.nan

In [164]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,yes,no,2.0,3.0,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [165]:
obesity_prediction.loc[0,'Age']=np.nan
obesity_prediction.loc[0,'SMOKE']=np.nan
obesity_prediction.loc[0,'family_history']=np.nan

In [166]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [169]:
obesity_prediction.fillna(0,inplace=True)

In [170]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,0.0,1.62,64.0,0,no,2.0,3.0,0,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [171]:
obesity_prediction.loc[0,'Age']=np.nan
obesity_prediction.loc[0,'SMOKE']=np.nan
obesity_prediction.loc[0,'family_history']=np.nan
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [172]:
obesity_prediction['Age']=obesity_prediction['Age'].fillna(20)

In [173]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,20.0,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [174]:
obesity_prediction['Age']=obesity_prediction['Age'].fillna(obesity_prediction["Age"].mean())

In [175]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,20.0,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [178]:
obesity_prediction.fillna({'SMOKE':"no",'family_history':'no'},inplace=True)

In [179]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,20.0,1.62,64.0,no,no,2.0,3.0,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [180]:
obesity_prediction.loc[0,'Age']=np.nan
obesity_prediction.loc[0,'SMOKE']=np.nan
obesity_prediction.loc[0,'family_history']=np.nan
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [182]:
obesity_prediction['Age']=obesity_prediction['Age'].fillna(obesity_prediction['Age'].interpolate())

In [183]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
0,Female,NaN,1.62,64.0,NaN,no,2.0,3.0,NaN,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,very young
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young

In [188]:
obesity_prediction.dropna(inplace=True)

In [189]:
obesity_prediction.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
1,Female,16.0,1.52,56.0,no data,no,3.0,3.0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.0,1.60,77.0,yes,no,2.0,3.0,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Overr,very young
3,Male,22.0,1.60,87.0,no,no,3.0,3.0,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.0,1.78,89.8,no,no,2.0,1.0,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,very young
5,Male,24.0,1.62,53.0,no,yes,2.0,3.0,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,very young

In [190]:
obesity_prediction.dropna(axis=1)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
1,Female,16.000000,1.520000,56.000000,no data,no,3.0,3.0,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,very young
2,Secret,18.000000,1.600000,77.000000,yes,no,2.0,3.0,yes,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Overr,very young
3,Male,22.000000,1.600000,87.000000,no,no,3.0,3.0,yes,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,very young
4,Male,17.000000,1.780000,89.800000,no,no,2.0,1.0,yes,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,very young
5,Male,24.000000,1.620000,53.000000,no,yes,2.0,3.0,yes,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight,very young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,15.976842,1.710730,131.408528,yes,yes,3.0,3.0,yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,very young
2107,Female,16.982942,1.748584,133.742943,yes,yes,3.0,3.0,yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,very young
2108,Female,17.524036,1.752206,133.689352,yes,yes,3.0,3.0,yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,very young
2109,Female,19.361936,1.739450,133.346641,yes,yes,3.0,3.0,yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,very young
2110,Female,18.664709,1.738836,133.472641,yes,yes,3.0,3.0,yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,very young

In [191]:
obesity_prediction.groupby('Gender').count()

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Category,Age Category
Gender,,,,,,,,,,,,,,,,
Female,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042,1042
Male,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067
Secret,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [192]:
obesity_prediction.groupby('Gender')["Height"].mean()

Gender
Female    1.643320
Male      1.758464
Secret    1.600000
Name: Height, dtype: float64

In [195]:
obesity_prediction.groupby('Gender')["Weight"].median()

Gender
Female    78.004194
Male      89.981680
Secret    77.000000
Name: Weight, dtype: float64

In [196]:
obesity_prediction.groupby('Gender')["Height"].agg(['sum','mean'])

                sum      mean
Gender
Female  1712.339615  1.643320
Male    1876.281278  1.758464
Secret     1.600000  1.600000